html, body {
    margin: 0;
    padding: 0;
    
}

:root{
    --color-blue: #0962FF;
    --color-dark-blue:#0C2551;
    --color-white:#FBFBFB;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: no-repeat url('images/back-transparent.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif', serif;
}

main{
    display: flex;
    flex: 1;
    height: 100vh;
    padding: 70px;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.sign-up-form {
    flex: 1 1 auto;
    min-width: 360px;
    max-width: 560px;
    align-self: stretch;
    background-color: var(--color-white);
    border-radius: 40px;
    box-shadow: 4px 4px 44px 12px rgba(4, 18, 42, 0.184);
}



.image-box{
    flex: 1 2 auto;
    max-width: 580px;
    min-width: 240px;
}

.image-box img{
    width: 100%;
    height: auto;
}